.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}
.container p {
  text-align: center;
}
.centered {
  display: flex;
  justify-content: center;
}

.canciones {
  flex: 1;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.loading {
  font-size: 24px;
}
