.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar a {
  color: #fff;
  padding: 5px 30px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #53ccfc 2px solid;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.logo i {
  color: #53ccfc;
  font-size: 2em;
}

.logo span {
  color: #fff;
}
